<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/master.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<link href="css/Chart.min.css" rel="stylesheet" />
<title>Scratch Progression</title>



</head>



<body>


	<div class="container-fluid" ng-app="scratchApp">

		<div ng-controller="scratchCtrl">
			<div class="row">
				<div class="col-md-12">
					<h3><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;
					SCRATCH PROGRESSION</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">

					<canvas id="myChart" style="width: 100%; height: 200px;"></canvas>

				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="btn btn-lg btn-primary" ng-click="startSession()"
						ng-hide="started">START</div>
					<div class="btn btn-lg btn-danger" ng-click="addFail()" style="padding: 50px;"
						ng-show="started">FAIL&nbsp;<span class="badge badge-warning">{{contaFails}}</span></div>
				</div>
				<div class="col-md-6">
					<div class="btn btn-lg btn-warning" ng-click="endSession()"
						ng-show="started">STOP</div>
				</div>
			</div>
			

			<div class="row">
				<div class="col-md-6">
					<div style="max-height: 500px;overflow: auto;">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Session ID</th>
								<th>Start Time</th>
								<th>Fails Count</th>
								<th>End Time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in lsStats track by $index">
								<td>Session #{{$index}}</td>
								<td>{{toDate(item.startTime)}}</td>
								<td>{{item.fails.length}}</td>
								<td ng-show="item.endTime">{{toDate(item.endTime)}}</td>
							</tr>
						</tbody>

					</table>
					</div>
					<div class="btn btn-warning" style="margin-top: 50px;" ng-click="backupStats()" ng-show="lsStats.length>0">BACKUP</div>
					
				</div>
				
				
				
			</div>
			

		</div>
	</div>


	<script type="text/javascript" src="jslib/jquery.min.js"></script>
	<script type="text/javascript" src="jslib/angular.min.js"></script>
	<script type="text/javascript" src="jslib/bootstrap.min.js"></script>
	<script type="text/javascript" src="jslib/moment.min.js"></script>
	<script type="text/javascript" src="jslib/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="jslib/locales.min.js"></script>
	<script type="text/javascript" src="jslib/Chart.min.js"></script>

	<script type="text/javascript" src="app/main.js"></script>

</body>
</html>
